/backend/bin/
/frontend/node_modules/
/frontend/dist/
/frontend/coverage/
/scripts/__pycache__/
/dist/
/dbx-plugin-kafka
node_modules/
.DS_Store
*.log
/ui/
!/ui/
!/ui/.gitkeep
.dbx-repository-signing-key.env
.idea/
